.create-works {
  background-color: $darkgreyblue;
  padding: 100px 150px 100px 85px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 168px;
}
.create-works h3 {
  color: $lightcream;
}
.create-works .steps__text {
  color: $lightcream;
}
.create-works span {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .create-works {
    margin-bottom: 144px;
  }
}
@media screen and (max-width: 420px) {
  .create-works {
    margin-bottom: 120px;
  }
}
