.header {
  @include flex;
  justify-content: space-between;
  padding: 45px 0;
}
.header__logo-img {
  width: 236px;
  height: 26px;
}
.nav {
  @include flex;
  &__item {
    @include text-style;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__item + &__item {
    margin-left: 32px;
  }
  &__link {
    color: $grey;
  }
  &__link:hover {
    color: $hovercolor;
  }
  &__link:active {
    color: $grey;
  }
  &__btn {
    width: 20px;
    height: 20px;
    background-image: url("../../imgs/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    display: none;
  }
  &__mobile-list {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav__item {
    display: none;
  }
  .nav__btn {
    display: block;
  }
  .nav__mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    position: fixed;
    top: 93px;
    left: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(
      2deg,
      rgba(254, 252, 247, 0.504981) 0%,
      #fefcf7 55.94%
    );
  }
  .nav__mobile-item {
    margin-top: 40px;
  }
  .nav__mobile-link {
    font-family: $fraunces;

    font-size: 24px;
    line-height: 32px;
    color: $darkgreyblue;
  }
  .open {
    display: flex;
  }
  .overflow {
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .header__logo-img {
    width: 163px;
    height: 18px;
  }
  .nav__btn {
    width: 16px;
    height: 15px;
  }
}
